/* Universal CSS */
* {
    font-family: Arial, Helvetica, sans-serif;
    
}
/* Header  */



header{
    display:flex;
    justify-content: center;
    color: black;
    font-size: 30px;
    font-family:Arial, Helvetica, sans-serif;
    margin:5%;
    flex-wrap: wrap;
    padding:2px;

}


p{
    display: flex;
    justify-content: center;

}

/* Start Button  */

/* TODO: need to change it so that it disappears afterwordss  */

button {
    cursor: pointer;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#start-btn {
    display:flexbox;
    padding: 2%;
    margin-left: 40%;
    background-color: blueviolet;
    color: white;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    cursor: pointer;
    
    /* display: hidden; */

}

#start-btn:hover {
    background-color:pink;
}

#start-btn:focus {
    outline: none;
    background-color: fuchsia;
}
::before {
    /* ... */
color: blueviolet;

  }

  /* hide the ubtton after pressing it  */
  /* q::after {
    display: none;
    color: red;
  } */

 
  #display-high-scores {
    color:yellow;
    background-color: blue;
    display:flex;
    position:absolute;
    top:20px;
    left:2px;
    padding:1%;
    
  }

  #timer {
    font-size: 18pxpx;
    font-weight: 200;
    display:flex;
    justify-content: flex-end;
    position: absolute;
    top:20px;
    right:6px;
    flex-wrap: wrap;
    background-color: black;
    color:red;
    padding: 1%;

}


ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    font-size: 12px;
    margin: 1rem 0;
  }
  
  ul li label {
    cursor: pointer;
  }


  .quiz-header {
    padding: 1px;
  }

  h2 {
    padding: 5px;
    text-align: center;
    margin: 0;
  }

  timer-text {
    padding: 55px;
  }
  

  /* Media Queries 
  */
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .word-guess,
    .results {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .reset-button {
      font-size: 12px;
      width: 20ox;
      
    }
  
    .timer {
      height: 200px;
    }
   
}